@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  height: 40px;
  background-color: #191919;
}
header .header-components-container {
  width: 1170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
header .header-components-container .left-icon-container {
  padding-top: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
}
header .header-components-container .left-icon-container a {
  align-items: center;
  height: 16px;
  margin-bottom: 25px;
}
header .header-components-container .left-icon-container i {
  color: #707070;
  padding-right: 14px;
}
header .header-components-container .left-icon-container img {
  height: 15px;
  margin-right: 12px;
}
header .header-components-container .right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 11.25px;
  font-weight: 600;
  color: #6d6c6d;
  letter-spacing: 0.625px;
  padding-top: 2px;
}
header .header-components-container .right-container i {
  margin-right: 7px;
}
header .header-components-container .right-container #lang-ico-nav {
  font-size: 18px;
  margin-right: 7px;
}
header .header-components-container .right-container .small-img {
  height: 16px;
}
header .header-components-container .right-container #arrow-down {
  margin-left: 3.75px;
}
header .header-components-container .right-container #symbol {
  margin-left: 14px;
  margin-right: 13px;
  height: 20px;
  width: 1px;
  background-color: #545454;
}
header .header-components-container .right-container #nav-lang {
  margin-left: 5px;
  margin-right: 0px;
}
header .header-components-container .right-container .sign-in-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header .header-components-container .right-container .language-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  position: relative;
  padding-bottom: 67px;
  background-image: url(/assets/images/bg_copy_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.body-container .background-image {
  position: absolute;
  z-index: -1;
  opacity: 90%;
  filter: brightness(40%);
}
.body-container #bg {
  width: 98.89vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.body-container .left-button {
  position: absolute;
  left: 42px;
  top: 373px;
}
.body-container .left-button img {
  height: 22px;
}
.body-container .right-button {
  position: absolute;
  top: 373px;
  right: 42px;
}
.body-container .right-button img {
  height: 22px;
}
.body-container .nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1170px;
  justify-content: flex-start;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 233px;
  margin-left: 375px;
  margin-right: 375px;
}
.body-container .nav-container .site-name {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.25px;
  margin-right: 122px;
}
.body-container .nav-container .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.body-container .nav-container .nav .nav-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 14px;
  font-weight: 600;
}
.body-container .nav-container .nav .nav-option i {
  margin-right: 28px;
}
.body-container .nav-container .nav .nav-option .title {
  margin-right: 10px;
}
.body-container .nav-container .nav .nav-option #underline {
  width: 80px;
  height: 4px;
  background-color: #ff3f81;
  top: 39px;
  right: 28px;
  position: absolute;
}
.body-container .nav-container .more-options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3.125px;
  margin-left: 34px;
}
.body-container .nav-container .more-options-container img {
  margin-right: 14px;
  height: 18px;
  margin-top: 4px;
}
.body-container .nav-container .more-options-container .line {
  margin-right: 13px;
  width: 1px;
  height: 30px;
  background-color: #5c5c5b;
}
.body-container .other-body {
  text-align: center;
}
.body-container .other-body .sub-heading {
  color: #bdbdbd;
  height: 14px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
  letter-spacing: 0.25px;
}
.body-container .other-body .heading {
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 2.5px;
  font-weight: 800;
  margin-left: 8px;
}
.body-container .other-body button {
  margin-top: 33px;
  padding: 13px 27px;
  font-size: 17px;
  border-style: none;
  border-radius: 27.5px;
  background-color: #2e3e9c;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}
.body-container .other-body .user-img {
  margin-top: 78px;
  height: 51px;
}
.body-container .other-body .username {
  margin-top: 12px;
  color: #dbdbdb;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 700;
  margin-bottom: 9px;
}
.body-container .other-body .date-time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 11.875px;
  font-weight: 600;
  color: #6d6c6d;
  letter-spacing: 0.625px;
  margin-bottom: 35px;
}
.body-container .other-body .date-time-container .date {
  margin-right: 10px;
}
.body-container .other-body .comment-like-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 11.875px;
  font-weight: 600;
  color: #6d6c6d;
  letter-spacing: 0.625px;
  margin-right: 2px;
  word-spacing: 1px;
}
.body-container .other-body .comment-like-container .number-margin {
  margin-right: 1px;
}
.body-container .other-body .comment-like-container img {
  height: 13px;
}
.body-container .other-body .comment-like-container .comment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 28px;
}
.body-container .other-body .comment-like-container .comment-container img {
  margin-right: 7px;
}
.body-container .other-body .comment-like-container .like-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.body-container .other-body .comment-like-container .like-container img {
  height: 12.5px;
  margin-right: 4px;
}

.nav-option,
.more-options-container img,
button,
.left-button,
.right-button,
.language-select,
.sign-in-container,
a :hover {
  cursor: pointer;
}

.whole-second-container {
  background-color: #f5f5f5;
}
.whole-second-container .second-page-container .nav-parent-container {
  background-color: #ffffff;
}
.whole-second-container .second-page-container .nav-parent-container .nav-container {
  height: 61px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.whole-second-container .second-page-container .nav-parent-container .nav-container .sort-blog {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-right: 21px;
}
.whole-second-container .second-page-container .nav-parent-container .nav-container .selected-option {
  margin-bottom: 1px;
  padding: 8px 31px 6px 26px;
  color: #4455b7;
  border-radius: 20px;
  font-size: 11px;
  border: 1px solid #4455b7;
  margin-right: 15px;
}
.whole-second-container .second-page-container .nav-parent-container .nav-container .other-options {
  margin-bottom: 1px;
  padding: 8px 29px 6px 26px;
  border-radius: 20px;
  font-size: 11px;
  background-color: #f5f5f5;
  margin-right: 15px;
  letter-spacing: 0.5px;
}
.whole-second-container .second-page-container .body-container-2 {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container {
  margin-top: 30px;
  width: 820px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 10px;
  border-bottom: 2px solid #e1e1e1;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .master-img {
  position: relative;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .master-img .text {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #ffffff;
  font-size: 12px;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .master-img .pause {
  position: absolute;
  right: 380px;
  top: 180px;
  color: #ffffff;
  font-size: 60px;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .master-img .icon-text {
  position: absolute;
  display: flex;
  bottom: 20px;
  right: 20px;
  color: white;
  font-size: 12px;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .master-img .icon-text span {
  font-size: 15px;
  margin-right: 7px;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .master-img .icon-text .comment {
  display: flex;
  margin-right: 22px;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .master-img .icon-text .comment div {
  font-weight: 400;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .master-img .icon-text .like {
  display: flex;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .master-img .icon-text .like div {
  font-weight: 400;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .text-container {
  margin-left: 20px;
  margin-top: 10px;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .text-container .bold-text {
  font-size: 18.75px;
  font-weight: 700;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .text-container .normal-text {
  font-size: 15px;
  letter-spacing: 0.5px;
  word-spacing: 0.69px;
  margin-top: 6px;
  line-height: 27px;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .line {
  margin-top: 10px;
  height: 1px;
  width: 100%;
  background-color: #e0e0e0;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .author-details {
  height: 91px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .author-details img {
  height: 50px;
  margin-left: 20px;
  margin-right: 9px;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .author-details .name {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .author-details .date {
  margin-top: 7px;
  font-size: 12px;
  color: #878787;
  letter-spacing: 0.8px;
  font-weight: 300;
}
.whole-second-container .second-page-container .body-container-2 .main-post-container .author-details .option {
  position: absolute;
  top: 32px;
  right: 11px;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .horizontal-post-individual {
  position: relative;
  width: 820px;
  height: 167px;
  background-color: #ffffff;
  display: flex;
  border-radius: 5px;
  border-bottom: 2px solid #e1e1e1;
  margin-bottom: 19px;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .horizontal-post-individual .img-icons .text {
  position: absolute;
  color: white;
  left: 19px;
  bottom: 17px;
  font-size: 12px;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .horizontal-post-individual .img-icons .pause {
  position: absolute;
  color: #ffffff;
  font-size: 50px;
  left: 105px;
  top: 57px;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .horizontal-post-individual .img-icons .icon-text {
  position: absolute;
  display: flex;
  color: white;
  font-size: 12px;
  left: 157px;
  bottom: 17px;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .horizontal-post-individual .img-icons .icon-text span {
  font-size: 15px;
  margin-right: 7px;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .horizontal-post-individual .img-icons .icon-text .comment {
  display: flex;
  margin-right: 22px;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .horizontal-post-individual .img-icons .icon-text .comment div {
  font-weight: 400;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .horizontal-post-individual .img-icons .icon-text .like {
  display: flex;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .horizontal-post-individual .img-icons .icon-text .like div {
  font-weight: 400;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .horizontal-post-individual .right-upper-side {
  margin-top: 10px;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .horizontal-post-individual .right-upper-side .bold-text {
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.4px;
  margin-left: 19px;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .horizontal-post-individual .right-upper-side .normal-text {
  margin-top: 9px;
  font-size: 14px;
  word-spacing: 0.1px;
  line-height: 20px;
  margin-left: 19px;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .horizontal-post-individual .right-upper-side .line {
  margin-top: 16px;
  height: 1px;
  width: 100%;
  background-color: #e0e0e0;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .author-details {
  height: 60px;
  margin-top: 5px;
  margin-left: 21px;
  display: flex;
  align-items: center;
  position: relative;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .author-details img {
  margin-right: 10px;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .author-details .name {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .author-details .date {
  margin-top: 7px;
  font-size: 12px;
  color: #878787;
  letter-spacing: 0.8px;
  font-weight: 300;
}
.whole-second-container .second-page-container .body-container-2 .horizontal-posts-container .author-details .option {
  position: absolute;
  bottom: 8px;
  right: 5px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container {
  display: flex;
  margin-bottom: 20px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card {
  width: 260px;
  margin-right: 20px;
  background-color: #ffffff;
  height: 420px;
  border-radius: 5px;
  border-bottom: 2px solid #e1e1e1;
  position: relative;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .icons-on-image .pause {
  position: absolute;
  color: white;
  top: 56px;
  left: 106px;
  font-size: 48px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .icons-on-image .text {
  position: absolute;
  font-size: 11px;
  color: white;
  top: 134px;
  left: 20px;
  letter-spacing: 0.5px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .icons-on-image .icon-text {
  position: absolute;
  display: flex;
  color: white;
  font-size: 12px;
  left: 157px;
  top: 134px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .icons-on-image .icon-text span {
  font-size: 15px;
  margin-right: 7px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .icons-on-image .icon-text .comment {
  display: flex;
  margin-right: 22px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .icons-on-image .icon-text .comment div {
  font-weight: 400;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .icons-on-image .icon-text .like {
  display: flex;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .icons-on-image .icon-text .like div {
  font-weight: 400;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .icons-on-image .left {
  position: absolute;
  top: 60px;
  left: 11px;
  color: #3f51b5;
  padding: 6px;
  background-color: #ffffff;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .icons-on-image .right {
  position: absolute;
  color: #3f51b5;
  padding: 6px;
  background-color: #ffffff;
  right: 11px;
  top: 60px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .text-container {
  margin: 8px 21px 28px 20px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .text-container .bold-text {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.4px;
  margin-bottom: 7px;
  line-height: 24px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .text-container .normal-text {
  font-size: 14px;
  word-spacing: 0.1px;
  line-height: 20px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .line {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .author-details {
  position: relative;
  display: flex;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .author-details .author-image {
  margin-top: 15px;
  margin-left: 20px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .author-details .name {
  margin-left: 11px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
  word-spacing: 1px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .author-details .date {
  margin-left: 10px;
  margin-top: 7px;
  font-size: 12px;
  color: #878787;
  letter-spacing: 0.8px;
  font-weight: 300;
}
.whole-second-container .second-page-container .body-container-2 .vertical-small-cards-container .individual-card .author-details .option {
  position: absolute;
  right: 5px;
  top: 18.5px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-two-cards-container {
  display: flex;
  width: 820px;
  justify-content: space-between;
}
.whole-second-container .second-page-container .body-container-2 .vertical-two-cards-container .individual-card {
  width: 400px;
  background-color: white;
  border-radius: 5px;
  border-bottom: 2px solid #e1e1e1;
}
.whole-second-container .second-page-container .body-container-2 .vertical-two-cards-container .text-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 9px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-two-cards-container .text-container .bold-text {
  font-size: 18.75px;
  font-weight: 700;
}
.whole-second-container .second-page-container .body-container-2 .vertical-two-cards-container .text-container #selected {
  color: #3f51b5;
}
.whole-second-container .second-page-container .body-container-2 .vertical-two-cards-container .text-container .normal-text {
  font-size: 15px;
  letter-spacing: 0.5px;
  word-spacing: 0.69px;
  margin-top: 5px;
  line-height: 27px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-two-cards-container .author-details {
  height: 91px;
  width: 100%;
  display: flex;
  padding-top: 26px;
  position: relative;
}
.whole-second-container .second-page-container .body-container-2 .vertical-two-cards-container .author-details img {
  height: 50px;
  margin-left: 20px;
  margin-right: 9px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-two-cards-container .author-details .name {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 6px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-two-cards-container .author-details .date {
  margin-top: 7px;
  font-size: 12px;
  color: #878787;
  letter-spacing: 0.8px;
  font-weight: 300;
  word-spacing: 2px;
}
.whole-second-container .second-page-container .body-container-2 .vertical-two-cards-container .author-details .option {
  position: absolute;
  top: 38px;
  right: 10px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container {
  position: absolute;
  width: 685px;
  height: 2305px;
  top: 0;
  left: 860px;
  background-color: white;
  border-radius: 5px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container {
  margin-left: 39px;
  margin-top: 24px;
  height: 300px;
  width: 200px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .search-bar {
  position: relative;
  margin-bottom: 27px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .search-bar input {
  height: 43px;
  width: 268px;
  border-radius: 50px;
  border: none;
  border-style: none;
  background-color: #f5f5f5;
  padding-left: 20px;
  font-size: 16px;
  letter-spacing: 1px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .search-bar .search-icon {
  position: absolute;
  padding: 5px;
  background-color: #f94885;
  border-radius: 50%;
  color: white;
  top: 5px;
  left: 230px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .categories-container .category-heading {
  color: #3f51b5;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 18px;
  margin-bottom: 18px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .categories-container .option-container .individual-category {
  display: flex;
  width: 270px;
  justify-content: space-between;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .categories-container .option-container .individual-category .name {
  font-weight: 500;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .categories-container .option-container .individual-category .number {
  font-weight: 700;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .categories-container .option-container .line {
  width: 270px;
  height: 1px;
  background-color: #ebeae9;
  margin-top: 10px;
  margin-bottom: 9px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .subscribe-container {
  margin-top: 41px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .subscribe-container .heading {
  color: #3f51b5;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 18px;
  margin-bottom: 17px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .subscribe-container .form-container {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .subscribe-container .form-container .text {
  margin-bottom: 10px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .subscribe-container .form-container input {
  height: 45px;
  width: 270px;
  border: solid 1px #cbcbcb;
  font-size: 17px;
  color: #9e9e9e;
  padding-left: 17px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .subscribe-container .form-container #box1 {
  margin-bottom: 12px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .subscribe-container .form-container #box2 {
  margin-bottom: 10px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .subscribe-container .form-container button {
  width: 270px;
  background-color: #3f51b5;
  height: 45px;
  color: white;
  border-style: none;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  padding-left: 3px;
  letter-spacing: 2px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .or {
  height: 46px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .icons-container {
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .icons-container a {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  color: white;
  text-decoration: none;
  margin-top: 6px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .icons-container .fb {
  background-color: #3b5999;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .icons-container .tw {
  background-color: #55abed;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .icons-container .vk {
  background-color: #4b75a3;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .icons-container .pin {
  background-color: #ff2d55;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .icons-container .tu {
  background-color: #33455d;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .icons-container .dr {
  background-color: #e94b89;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .widget-container {
  margin-top: 46px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .widget-container .heading {
  color: #3f51b5;
  font-weight: 700;
  font-size: 18px;
  word-spacing: 1px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .widget-container .button-container {
  margin-top: 25px;
  width: 270px;
  height: 40px;
  font-size: 12px;
  display: flex;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .widget-container .button-container::before {
  width: 50%;
  height: 100%;
  content: "RECENT POST";
  color: white;
  background: #3f51b5;
  display: inline-block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .widget-container .button-container::after {
  width: 50%;
  height: 100%;
  content: "POPULAR POST";
  color: #3f51b5;
  background: white;
  border: solid 1px #3f51b5;
  display: inline-block;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .widget-container .card-container {
  margin-top: 20px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .widget-container .card-container .individual-card {
  height: 79px;
  width: 270px;
  display: flex;
  margin-bottom: 32px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .widget-container .card-container .individual-card .user-img {
  margin-right: 15px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .widget-container .card-container .individual-card .text-container .upper-part {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .widget-container .card-container .individual-card .text-container .upper-part .msg {
  display: flex;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .widget-container .card-container .individual-card .text-container .upper-part .msg .icon {
  font-size: 16px;
  margin-right: 5px;
  color: #3f51b5;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .widget-container .card-container .individual-card .text-container .upper-part .msg .text {
  margin-top: 1px;
  color: #b9c5cd;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .widget-container .card-container .individual-card .text-container .lower-part {
  font-size: 14px;
  font-weight: 700;
  word-spacing: 2px;
  line-height: 20px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .widget-container .tags-container .heading {
  margin-top: 48px;
  color: #3f51b5;
  font-weight: 700;
  font-size: 18px;
  word-spacing: 1px;
  margin-bottom: 26px;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .widget-container .tags-container .individual-tags-container {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  justify-content: flex-start;
}
.whole-second-container .second-page-container .body-container-2 .second-page-aside-container .content-container .widget-container .tags-container .individual-tags-container .individual-tag {
  margin-right: 10px;
  background-color: #ededed;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 14px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-bottom: 10px;
}
.whole-second-container .more-container {
  height: 125px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.whole-second-container .more-container .main-more-container {
  width: 820px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #303f9f;
}
.whole-second-container .more-container .main-more-container div {
  margin-right: 8px;
}
.whole-second-container .more-container .main-more-container span {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
}
.whole-second-container .bottom-photos-container {
  display: flex;
  justify-content: center;
}
.whole-second-container .newsletter-container {
  display: flex;
  justify-content: center;
  position: relative;
}
.whole-second-container .newsletter-container .text-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 199px;
  width: 1170px;
}
.whole-second-container .newsletter-container .text-container .text {
  color: white;
  font-size: 45px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}
.whole-second-container .newsletter-container .text-container input {
  width: 270px;
  height: 45px;
  background-color: transparent;
  border: 1px solid #747678;
  border-radius: 30px;
  padding-left: 20px;
  color: #9b9b9c;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  margin-top: 2px;
}
.whole-second-container .newsletter-container .text-container button {
  width: 170px;
  height: 45px;
  color: white;
  background-color: #2f3f9f;
  border-style: none;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2.5px;
}/*# sourceMappingURL=styles.css.map */